root = true

[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
trim_trailing_whitespace = true

csharp_style_namespace_declarations = file_scoped:warning

dotnet_diagnostic.IDE0290.severity = none # Use primary constructor

dotnet_diagnostic.CA1307.severity = none # Specify StringComparison for clarity
dotnet_diagnostic.CA1051.severity = none # Do not declare visible instance fields
dotnet_diagnostic.CA1062.severity = none # Validate arguments of public methods
dotnet_diagnostic.CA1002.severity = none # Do not expose generic lists
dotnet_diagnostic.CA1031.severity = none # Do not catch general exception types
dotnet_diagnostic.CA1034.severity = none # Nested types should not be visible
dotnet_diagnostic.CA1043.severity = none # Use Integral Or String Argument For Indexers
dotnet_diagnostic.CA1065.severity = none # Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1305.severity = none # Specify IFormatProvider
dotnet_diagnostic.CA1715.severity = none # Identifiers should have correct prefix
dotnet_diagnostic.CA1720.severity = none # Identifier contains type name
dotnet_diagnostic.CA2225.severity = none # Operator overloads have named alternates
dotnet_diagnostic.CA1309.severity = none # Use ordinal string comparison
dotnet_diagnostic.CA1814.severity = none # Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1711.severity = none # Identifiers should not have incorrect suffix
dotnet_diagnostic.CA2211.severity = none # Non-constant fields should not be visible
dotnet_diagnostic.CA2007.severity = none # Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA1815.severity = silent # Override equals and operator equals on value types
dotnet_diagnostic.CA1707.severity = silent # Identifiers should not contain underscores

dotnet_diagnostic.RCS1123.severity = none # Add parentheses when necessary
dotnet_diagnostic.RCS1110.severity = none # Declare type inside namespace
dotnet_diagnostic.RCS1196.severity = none # Call extension method as instance method
dotnet_diagnostic.RCS1154.severity = none # Sort enum members
dotnet_diagnostic.RCS1001.severity = none # Add braces (when expression spans over multiple lines)
dotnet_diagnostic.RCS1003.severity = none # Add braces to if-else (when expression spans over multiple lines).

dotnet_diagnostic.MA0011.severity = none # IFormatProvider is missing
dotnet_diagnostic.MA0069.severity = none # Non-constant static fields should not be visible
dotnet_diagnostic.MA0048.severity = none # File name must match type name
dotnet_diagnostic.MA0003.severity = none # Add parameter name to improve readability
dotnet_diagnostic.MA0047.severity = none # Declare types in namespaces
dotnet_diagnostic.MA0051.severity = none # Method is too long
dotnet_diagnostic.MA0076.severity = none # Do not use implicit culture-sensitive ToString in interpolated strings
dotnet_diagnostic.MA0075.severity = none # Do not use implicit culture-sensitive ToString
dotnet_diagnostic.MA0001.severity = none # StringComparison is missing
dotnet_diagnostic.MA0016.severity = none # Prefer using collection abstraction instead of implementation
dotnet_diagnostic.MA0004.severity = none # Use Task.ConfigureAwait